{% load static %} 

<body>
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="{% url 'home' %}"><em>SIRIUS</em> ACADEMY</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="has-submenu"><a href="#section2">About Us</a>
          <ul class="sub-menu">
            <li><a href="{% url 'about' %}">Who we are?</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>
          </ul>
        </li>
        <li><a href="#section4">Courses</a></li>
        <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        {% if user.is_authenticated %}
        
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
  
        {% else %}
  
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
  
        {% endif %}
      </ul>
    </nav>
  </header>
</body>